body {
    text-align: center;
    margin: 0;
}

.menu {
    position: fixed;
    width: 100%;
    background: white;
    margin-top: 0px;
}

.links {
    display: inline;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Pseudo class - syntax:   selector:pseudo-class(property:value) */
.links:hover{
    font-size: 30px;
    text-decoration: underline;
}
a{
    text-decoration: none;
    color: crimson;
    text-shadow: 2px 2px 2px black;
}

/* while scrolling */
html{
    scroll-behavior: smooth;
}

#welcome{
    background:linear-gradient(rgb(189, 225, 245), rgb(134, 134, 241));
    color: rgb(0, 9, 58);
}

.profile{
    margin-top: 70px;
    border-radius: 50%;
}
h1{
    font-size: 60px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
    
h2{

    font-size:30px;
    font-weight: 300;
    font-family: 'Anton',sans-serif ;
}

#name{
    font-size: 50px;
    line-height: 1.2;
    font-family: 'Dancing Script', cursive;
}
#bio{
    font-family: 'Roboto', cursive;
}
.line{
    height: 6px;
    background-color: darkblue;
    width: 80px;
    margin: auto;

}
p{
    font-size: 32px;
}
#writings a{
    text-shadow: none ;
    text-decoration: underline;
}
#writings a:hover{
    color: blue;
    font-size: 20px;
}
.contact_1 a{
    text-shadow: none ;
    color: rgb(255, 255, 255);
    

}
.contact_1 a:hover{
    color: rgb(251, 255, 0);

}
#contact{
    background-color: firebrick;
}
#contact iframe{
    width: 100%;
    margin: 30px;
}
.contact_1 h3{
    display: inline;
    
}